:root {
  --background: #D9F8FF;
  --first-color: #FF6830;
  --dark-shadow: #B6D0D6;
  --soft-shadow: #FCFFFF;
  --black: #425053;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--black);
  font-family: 'Chakra Petch', sans-serif;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
}

main {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  margin: 6.6vh 0;
  animation: bounce-in 2s ease 1;
  text-align: center;
}

.artworks {
  width: 100%;
  height: 43.49vh;
  margin-bottom: 20px;
  position: relative;
}

.artworks__image-container {
  width: 40%;
  height: 40vw;
  max-width: 190px;
  max-height: 190px;
  padding: 2.7%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  border-radius: 18px;
  box-shadow:
    5px 5px 30px var(--dark-shadow),
    -10px -10px 25px var(--soft-shadow);
  z-index: 0;
}

.artworks__image-container--left {
  transform: scale(1, 1) translateX(max(-6vw, -30px));
}

.artworks__image-container--left.forward {
  animation: inside-left 0.6s ease;
}

.artworks__image-container--left.backward {
  animation: swift-left 0.5s ease;
}

.artworks__image-container--big {
  transform: scale(1.26, 1.26) translate(min(calc((100vw - 130%) / 2), 122px) , 10vh);
  z-index: 1;
}

.artworks__image-container--big.forward {
  transition: transform 0.5s ease;
}

.artworks__image-container--big.backward {
  left: initial;
  right: 0;
  transform: scale(1.26, 1.26) translate(max(calc((130% - 100vw) / 2), -122px) , 10vh);
  animation: right-center 0.5s ease;
}

.artworks__image-container--right {
  left: initial;
  right: 0;
  transform: scale(1, 1) translateX(min(6vw, 30px));
}

.artworks__image-container--right.forward {
  animation: swift-right 0.5s ease;
}

.artworks__image-container--right.backward {
  animation: inside-right 0.6s ease;
}

.artworks__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.player-info {
  width: 74.7%;
  margin-bottom: 2.25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-info__artist,
.song-info__playlist {
  font-size: 1rem;
}

.button--small {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border: none;
  border-radius: 50%;
  box-shadow:
    5px 5px 30px var(--dark-shadow),
    -10px -10px 25px var(--soft-shadow);
}

.player {
  width: 80%;
  height: 16.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.player__progress-bar {
  width: 100%;
  height: 15px;
  position: relative;
}

.player__bar {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 5px;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow:
    2px 2px 5px var(--dark-shadow),
    2px -2px 5px var(--soft-shadow);
  overflow: hidden;
}

.player__bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -99%;
  width: 100%;
  height: 5px;
  background-color: var(--first-color);
  animation: play 30s linear 0.2s infinite;
}

.player__ball {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  background-color: var(--first-color);
  border-radius: 50%;
  animation: play 30s linear 0.2s infinite;
}

.player__progress-bar.new-song .player__bar::before,
.player__progress-bar--pause.new-song .player__bar::before,
.player__progress-bar.new-song .player__ball,
.player__progress-bar--pause.new-song .player__ball{
  animation: new-song 300ms ease-in-out;
}

.player__progress-bar--pause .player__ball,
.player__progress-bar--pause .player__bar::before {
  animation-play-state: paused;
}


.player_handler {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button--medium {
  width: 50px;
  height: 50px;
  background-color: var(--background);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    5px 5px 30px var(--dark-shadow),
    -10px -10px 25px var(--soft-shadow);
}

.button__large {
  width: 80px;
  height: 80px;
  background-color: var(--background);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    5px 5px 30px var(--dark-shadow),
    -10px -10px 25px var(--soft-shadow);
}

.button__logo {
  width: 50%;
  height: 50%;
}

.button__logo--play {
  width: 70%;
  height: 70%;
}

.button__logo--liked {
  animation: beat 1.6s ease-in-out 0.2s 1;
}

@keyframes bounce-in {
  0% {
    transform: translateY(-10vh) scaleY(1);
  }
  40%{
    transform: translateY(-4vh) scaleY(1);
  }
  70%{
    transform: translateY(-2vh) scaleY(1);
  }
  20%, 50%, 80%{
    transform: translateY(0) scale(1.05);
  }
  80%{
    transform: translateY(0) scale(1.005);
  }
  100% {
    ransform: translateY(0) scale(1);
  }
}

@keyframes beat {
  0%, 50%, 100% {
    transform: scale(1, 1);
  }
  25%, 75% {
    transform: scale(1.2, 1.2);
  }
}

@keyframes play {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(min(calc(80vw - 15px), 385px));
  }
}

@keyframes new-song {
  100% {
    transform: translateX(0);
  }
}

@keyframes swift-right {
  0% {
    transform: scale(1.26, 1.26) translate(max(calc((130% - 100vw) / 2), -122px) , 10vh);
  }
  100% {
    transform: scale(1, 1) translateX(min(6vw, 30px));
  }
}

@keyframes swift-left {
  0% {
    transform: scale(1.26, 1.26) translate(max(calc((100vw - 130%) / 2), 122px) , 10vh);
  }
  100% {
    transform: translateX(max(-6vw, -30px));
  }
}

@keyframes inside-left {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(max(-6vw, -30px));
  }
}

@keyframes inside-right {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: scale(1, 1) translateX(min(6vw, 30px));
  }
}

@keyframes right-center {
  0% {
    transform: scale(1, 1) translateX(min(6vw, 30px));
  }
  100% {
    transform: scale(1.26, 1.26) translate(max(calc((130% - 100vw) / 2), -122px) , 10vh);
  }
}

@media (min-width: 501px) {
  main {
    border-radius: 18px;
    box-shadow:
    5px 5px 30px var(--dark-shadow),
    -10px -10px 25px var(--soft-shadow);
  }
}